@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        @*to update the Title of the dish*@
        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        @*to update the Description of the dish*@
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        @*to update the Category of the dish*@
        <div class="form-group">
            <label asp-for="Product.Category" class="control-label"></label>
            <input asp-for="Product.Category" class="form-control" />
            <span asp-validation-for="Product.Category" class="text-danger"></span>
        </div>

        @*to update the Restaurant of the dish*@
        <div class="form-group">
            <label asp-for="Product.Restaurant" class="control-label"></label>
            <input asp-for="Product.Restaurant" class="form-control" />
            <span asp-validation-for="Product.Restaurant" class="text-danger"></span>
        </div>

        @*to update the City of the dish*@
        <div class="form-group">
            <label asp-for="Product.City" class="control-label"></label>
            <input asp-for="Product.City" class="form-control" />
            <span asp-validation-for="Product.City" class="text-danger"></span>
        </div>

        @*to update the State of the dish*@
        <div class="form-group">
            <label asp-for="Product.State" class="control-label"></label>
            <input asp-for="Product.State" class="form-control" />
            <span asp-validation-for="Product.State" class="text-danger"></span>
        </div>

        @*to update the Price of the dish*@
        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        @*to update the Url of the dish*@
        <div class="form-group">
            <label asp-for="Product.Url" class="control-label"></label>
            <input asp-for="Product.Url" class="form-control" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        @*to update the Image of the dish*@
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        @*a button to save the changes made in the update page*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}