@page
@model ContosoCrafts.WebSite.Pages.aboutusModel
@{
    ViewData["About"] = "About Us";
    <h1>@ViewData["Title"]</h1>

    <h1>The Team Behind Best In Town</h1>

    <div class="container">
        <div class="row">
            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/dave_photo.jpg" class="card-img-top" alt="dave" runat="server">
                <div class="card-body">
                    <h5 class="card-title">Dave Anderson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/Andydandy77">
                            <img src="~/images/GitHub-Mark-120px-plus.png" class="git"/>                        
                    </a>
                </div>
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/denis_photo.jpg" class="card-img-top" alt="denis" runat="server">
                <div class="card-body">
                    <h5 class="card-title">Denis Rajic</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/drajic7">
                        <img src="~/images/GitHub-Mark-120px-plus.png" class="git" />
                    </a>
                </div>
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                @*<img src="~/images/dave_photo.jpg" class="card-img-top" alt="roopini" runat="server">*@
                <div class="card-body">
                    <h5 class="card-title">Roopini Jayakumar</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/roopinij17">
                        <img src="~/images/GitHub-Mark-120px-plus.png" class="git" />
                    </a>
                </div>
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                @*@<img src="~/images/dave_photo.jpg" class="card-img-top" alt="gerry" runat="server">*@
                <div class="card-body">
                    <h5 class="card-title">Gerry Wang</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/gerrywang1898">
                        <img src="~/images/GitHub-Mark-120px-plus.png" class="git" />
                    </a>
                </div>
            </div>
        </div>


    </div>
    


}

