@page
@{
    ViewData["About"] = "About Us";
    <h1>@ViewData["Title"]</h1>

    <h1>The Team Behind Best In Town</h1>

    <div class="container">
        <div class="row">
            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/dave_photo.jpg" class="card-img-top" alt="dave" runat="server">
                <div class="card-body" style="height: 30rem" ;>
                    <h5 class="card-title">Dave Anderson</h5>
                    <p class="card-text">
                        A Seattle born native, Dave is passioniate about all things food in Seattle. Often, it's hard to know where to choose where to eat with
                        a city with so many options. That's why we've created this app to make our and your lives easier!
                    </p>
                    <div class="links">
                        <a href="https://github.com/Andydandy77">
                            <img src="~/images/GitHub-Mark-120px-plus.png" class="icon" />
                        </a>
                        <a href="https://www.linkedin.com/in/david-anderson1994/">
                            <img src="~/images/linkedin-logo.png" class="icon" />
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/denis_photo.jpg" class="card-img-top" alt="denis" runat="server">
                <div class="card-body">
                    <h5 class="card-title">Denis Rajic</h5>
                    <p class="card-text">
                        Originally from Sarajevo, Bosnia and Herzegovina, Denis is a travel enthusiast. Denis loves discovering new food around the world, and when not traveling,
                        he wants to know where to get the best dishes in his home town, something Best in Town is designed to help with.
                    </p>
                    <div class="links">
                        <a href="https://github.com/drajic7">
                            <img src="~/images/GitHub-Mark-120px-plus.png" class="icon" />
                        </a>
                        <a href="https://www.linkedin.com/in/denisrajic/">
                            <img src="~/images/linkedin-logo.png" class="icon" />
                        </a>
                    </div>
                    
                </div>
                
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/roopini_photo.jpeg" class="card-img-top" alt="roopini" runat="server">
                <div class="card-body">
                    <h5 class="card-title">Roopini Jayakumar</h5>
                    <p class="card-text">
                        Roopini recently moved to Seattle from Chennai, India to pursue her Master's degree in Computer Science. She loves to travel and enjoys learning about different cultures and meeting new people.
                        She belives in hard work and dedication and her ultimate happiness lies in being a wife and mother.
                    </p>

                    <div class="links">
                        <a href="https://github.com/roopinij17">
                            <img src="~/images/GitHub-Mark-120px-plus.png" class="icon" />
                        </a>
                        <a href="https://www.linkedin.com/in/roopini-j-562732138">
                            <img src="~/images/linkedin-logo.png" class="icon" />
                        </a>
                    </div>
                    
                </div>
                
            </div>

            <div class="card" style="width: 16rem; margin: 10px">
                <img src="~/images/gerry_photo.jpg" class="card-img-top" alt="gerry" runat="server">
                <div class="card-body">
                    <h5 class="card-title">Gerry Wang</h5>
                    <p class="card-text">
                        Originally from Albuquerque, New Mexico, Gerry moved in 2007 to attend the University of Washington for a BS in Mathematics. He is now pursuing a Master's degree in Computer Science at Seattle 
                        University. He enjoys playing tennis and basketball in his free time.
                    </p>

                    <div class="links">
                        <a href="https://github.com/gerrywang1898">
                            <img src="~/images/GitHub-Mark-120px-plus.png" class="icon" />
                        </a>

                        <a href="https://www.linkedin.com/in/gerry-wang-513267223/">
                            <img src="~/images/linkedin-logo.png" class="icon" />
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </div>


    </div>
    


}

